.innetary__inputcontrol {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2rem;
  width: fit-content;

  .travelplanner__container-form-inputcontrol-text {
    width: fit-content;
  }

  .date {
    left: 0;
    width: fit-content !important;
  }
}

.innetary__hotel-container {
  .hotel__item-content-info-bottom {
    align-items: flex-start;

    &-room {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.25rem !important;
    }
  }
}
